html {
  color: #eff5f7;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-color: #1c2e3d;
  font-family: "Open Sans";
  font-size: 12px;
}
#menus {
  background-color : #284158;
  width : 100%;
  min-width : 700px;
  height : 50px;
}
#breadcrumb {
  float: left;
  width : 20%;
  height: 50px;
  min-width : 200px;
}
ul.breadcrumb {
    padding : 3px 5px;
    list-style : none;
}
ul.breadcrumb li {
    display : inline;
    font-size : 14px;
}
ul.breadcrumb li+li:before {
    padding : 5px;
    color : white;
    content : ">\00a0";
}
ul.breadcrumb li a {
    /* color: #0275d8; */
    color : white;
    text-decoration : none;
}
ul.breadcrumb li a:hover {
    color : yellow;
    text-decoration : underline;
}
.navbar {
    float:right;
    font-size : 14px;
    width : 40%;
    height : 50px;
    min-width: 500px;
}
.navbar a {
    float : left;
    font-size : 14px;
    color : white;
    text-align : center;
    text-decoration : none;
    background-color : inherit;
}
.dropdown {
    float : left;
}
.dropdown .dropbtn {
    height: 50px;
    width: 100px;
    font-size : 14px;
    border : none;
    outline : none;
    color : white;
    padding : 14px 16px;
    background-color : inherit;
    border-left: 1px solid #39526a;
}
.dropdown .end {
  margin-right: 80px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color : #3b546c;
}
.dropdown-content {
    display : none;
    position : absolute;
    background-color : #284158;
    min-width : 160px;
    box-shadow : 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index : 1;
}
.dropdown-content a {
    float : none;
    color : white;
    padding : 12px 16px;
    text-decoration : none;
    display : block;
    text-align : left;
}
.dropdown-content a:hover {
    background-color : #3b546c;
}
.dropdown:hover .dropdown-content {
    display : block;
}
