html {
  color: #eff5f7;
  width: 100%;
  height: 100%;
}
body {
    margin: 0;
    background-color: #475562;
    font-family: "Open Sans";
    font-size: 12px;
}
#viewTable{
  width:100%;
  height:100%;
  margin:0px auto;
}
table {
  float:left;
  border-collapse: collapse;
  width: 100%;
}
table thead{
  width:100%;
  height:50px;
}
thead tr{
  width:100%;
  height:50px;
}
tbody {
  width:100%;
  height:800px;
}
tbody tr {
  width:100%;
  height:30px;
}
tbody tr:hover{
  background-color: #3f4e57;
}
th {
  width: 12.5%;
  padding-left: 10px;
  text-align: left;
}
td {
  width: 12.5%;
  padding-left: 10px;
  text-align: left;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.align_right {
  text-align: right;
}
.circle_active {
    border: 2px solid #bccf14;
    background-color: #1c2e3d;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    width: 12px;
}
.circle_active.inactive {
    background-color: #1c2e3d;
}
